.hidden{
  display : none;
}
.green{
  color: green;
}
h1{
    color: red;
    font-style: italic;
    text-align: center;
    font-size: 100px;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  h2{
     font-size: 80px; }
     h3{
        font-size: 80px; }
body{
 background-image: url("shark.jpg");
background-color: black;
}
p {
  font-size: 50px;
  color: yellow;
  border-style: solid;
  border-color: green;
  border-width:5px;
  outline-style: groove;
  outline-color: blue;
  outline-width: 5px;
}
img{
  border-style:solid;
  border-width: 100px;
}
ul, ol{
   color:purple;
 }
